

  body {
   font: 24px Helvetica;
   background: #cccccc;
  }

  #main {
   min-height:80px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }
 
  #main > article {
   margin: 0.5%;
   padding:0.5%;
   border: 1% solid #cccc33;
   border-radius: 7pt;
    background: gray;
   
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }
  .font {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    font-family: Elephant;
    -webkit-flex-font-size: 100%; 
    text-align: justify;
    font-color: #ffffff;
  }


   
  
  #main > nav {
   margin: 1%;
   padding: 2%;
   border: 10% solid #8888bb;
   border-radius: 7pt;
   background: blue;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;}
           li {
    list-style: none;
   }
  .pic1 img {margin:1%;
              height: 100%;
              width: 100%;

   }
  .pic2 img {margin:1%;
              height: 100%;
              width: 100%;

   }
   .pic3 img {margin:1%;
              height: 100%;
              width: 100%;
   }
   .pic4 img {margin:1%;
              height: 100%;
              width: 100%;
   
   }
   
   .pic5 img {margin:1%;
              height: 100%;
              width: 100%;
   }
  .pic6 img {margin: 1%;
              height: 100%;
              width: 100%;

   }
  .pic7 img {margin:1%;
              height: 100%;
              width: 100%;

   }
  .pic8 img {margin:1%;
                  height: 100%;
              width: 100%;
   }
  
  #main > aside {
   margin: 1%;
   padding: 2%;
   border: 1% solid #8888bb;
   border-radius: 7pt;
   background: pink;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
   }
 
  header{

   display: block;
   margin: 1%;
   padding: .5%;
   min-height: 10%;
   border: 5px solid black;
   border-radius: 7pt;
   
   background: black;}
   .pich img {
              margin: 3%;
              height:40%;
              width: 60%;

              }

    footer {
   display: block;
   margin: 1%;
   padding: 1%;
   min-height: 50%;
   border: 1px solid #000000;
   border-radius: 7pt;
   background: #000000;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
   }
 
  .foot img{
      margin: 1%;
      height:  100%;
      width: 80%;
      border-radius: 7pt;
      webkit-flex:flex;
    webkit-flex;
    }
  @media all and (max-width: 640px) {
  
   #main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
   }


   #main > article, #main > nav, #main > aside {
    
    -webkit-order: 0;
            order: 0;
   }

   
  
   #main > header, footer {
    min-height: 40px;
    max-height: 100px;
    webkit-flex:flex;
    webkit-flex;
   
   }
    #main >nav , aside{

    min-height: 2400px;
    max-height: 1800px;
    margin:2px: 
    
    min-width: 200px;
    webkit-flex:flex;
    webkit-flex;
   }
  
  }
